Repository ijdoc/wandb-demos: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, python-formatter

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: pipenv run jupyter nbconvert --clear-output --inplace

python-formatter:
  name: python-formatter
  stages:
  - commit
  language: system
  entry: pipenv run black

Add serverless lambda tests
  lambda-wandb-test/.gitignore
  lambda-wandb-test/Pipfile
  lambda-wandb-test/Pipfile.lock
  lambda-wandb-test/README.md
  lambda-wandb-test/handler.py
  lambda-wandb-test/package-lock.json
  lambda-wandb-test/package.json
  lambda-wandb-test/serverless.yml
Due: python-formatter

Improve function names & add local execution args
  lambda-wandb-test/Pipfile
  lambda-wandb-test/Pipfile.lock
  lambda-wandb-test/handler.py
  lambda-wandb-test/serverless.yml
Due: python-formatter

Fix mp crash and update README & timeouts
  lambda-wandb-test/README.md
  lambda-wandb-test/handler.py
  lambda-wandb-test/serverless.yml
Due: python-formatter

Implement repo-wide format and cleanup script
  Pipfile
  Pipfile.lock
  lambda-wandb-test/handler.py
  pytorch/00-dataset-log.ipynb
  pytorch/05-dataset-download.ipynb
  pytorch/10-demo.ipynb
  pytorch/99-debug-gpu.ipynb
  pytorch/Pipfile
  scripts/cleanup.sh
  scripts/format.py
  scripts/header.sh
  scripts/start.sh
Due: jupyter-nb-clear-output, python-formatter

Rename lambda debugging example
  lambda-wandb-debug/.gitignore
  lambda-wandb-debug/Pipfile
  lambda-wandb-debug/Pipfile.lock
  lambda-wandb-debug/README.md
  lambda-wandb-debug/handler.py
  lambda-wandb-debug/package-lock.json
  lambda-wandb-debug/package.json
  lambda-wandb-debug/serverless.yml
Due: python-formatter

Add simplified serverless template
  lambda-wandb-debug/README.md
  lambda-wandb-sls-template/.gitignore
  lambda-wandb-sls-template/Pipfile
  lambda-wandb-sls-template/Pipfile.lock
  lambda-wandb-sls-template/README.md
  lambda-wandb-sls-template/handler.py
  lambda-wandb-sls-template/package-lock.json
  lambda-wandb-sls-template/package.json
  lambda-wandb-sls-template/serverless.yml
Due: python-formatter

Fix epochs configuration in sls template
  lambda-wandb-debug/handler.py
  lambda-wandb-sls-template/README.md
  lambda-wandb-sls-template/handler.py
Due: python-formatter

Add details to requirements in README.md
  lambda-wandb-sls-template/README.md
Due: none

Update pre-commit hook and cleanup script
  .pre-commit-config.yaml
  Pipfile
  scripts/cleanup.sh
Due: none

Refactor and clean pytorch demo notebooks
  pytorch/00-dataset-log.ipynb
  pytorch/05-dataset-download.ipynb
  pytorch/10-demo.ipynb
  pytorch/99-debug-gpu.ipynb
  pytorch/Pipfile
  pytorch/Pipfile.lock
  pytorch/SETUP.md
  pytorch/scripts/start.sh
  scripts/cleanup.sh
  scripts/format.py
Due: jupyter-nb-clear-output, python-formatter

Refactor lambda examples
  lambda/debugging/.gitignore
  lambda/debugging/Pipfile
  lambda/debugging/Pipfile.lock
  lambda/debugging/README.md
  lambda/debugging/handler.py
  lambda/debugging/package-lock.json
  lambda/debugging/package.json
  lambda/debugging/serverless.yml
  lambda/serverless/.gitignore
  lambda/serverless/Pipfile
  lambda/serverless/Pipfile.lock
  lambda/serverless/README.md
  lambda/serverless/handler.py
  lambda/serverless/package-lock.json
  lambda/serverless/package.json
  lambda/serverless/serverless.yml
Due: python-formatter

Add lambda layer example
  lambda/layer/.gitignore
  lambda/layer/Pipfile
  lambda/layer/Pipfile.lock
  lambda/layer/README.md
  lambda/layer/handler.py
  lambda/layer/package-lock.json
  lambda/layer/package.json
  lambda/layer/serverless.yml
Due: python-formatter

Add required environment variables to README
  lambda/layer/README.md
Due: none

Add lambda layer implementation using nexus
  lambda/nexus/.gitignore
  lambda/nexus/Pipfile
  lambda/nexus/Pipfile.lock
  lambda/nexus/README.md
  lambda/nexus/handler.py
  lambda/nexus/package-lock.json
  lambda/nexus/package.json
  lambda/nexus/serverless.yml
Due: python-formatter

Remove redundant env variables from nexus README
  lambda/nexus/README.md
Due: none

Update lambda README files for better accuracy
  lambda/debugging/README.md
  lambda/layer/README.md
  lambda/nexus/README.md
  lambda/serverless/README.md
Due: none

Fix README messages for policy permissions
  lambda/layer/README.md
  lambda/nexus/README.md
  lambda/serverless/README.md
Due: none

Update README requirements for lambda
  lambda/layer/README.md
  lambda/nexus/README.md
  lambda/serverless/README.md
Due: none

Refactor jupyterlab examples
  Pipfile
  Pipfile.lock
  jupyterlab/10-openai.ipynb
  jupyterlab/99-debug-gpu.ipynb
  jupyterlab/Pipfile
  jupyterlab/Pipfile.lock
  jupyterlab/pytorch/00-dataset-log.ipynb
  jupyterlab/pytorch/05-dataset-download.ipynb
  jupyterlab/pytorch/10-demo.ipynb
  jupyterlab/pytorch/SETUP.md
  jupyterlab/scripts/start.sh
  scripts/cleanup.sh
Due: jupyter-nb-clear-output

Add images notebooks, refactor pytorch examples
  .gitignore
  jupyterlab/.gitignore
  jupyterlab/99-debug-gpu.ipynb
  jupyterlab/Pipfile
  jupyterlab/Pipfile.lock
  jupyterlab/images/segmentation.ipynb
  jupyterlab/images/table.ipynb
  jupyterlab/pytorch/00-dataset-log.ipynb
  jupyterlab/pytorch/10-classification.ipynb
  scripts/cleanup.sh
Due: jupyter-nb-clear-output

Refactor lambda examples, update instructions
  Pipfile.lock
  README.md
  lambda/README.md
  lambda/debugging/README.md
  lambda/debugging/handler.py
  lambda/debugging/serverless.yml
  lambda/full/.gitignore
  lambda/full/Pipfile
  lambda/full/Pipfile.lock
  lambda/full/README.md
  lambda/full/handler.py
  lambda/full/package-lock.json
  lambda/full/package.json
  lambda/full/serverless.yml
  lambda/layer/README.md
  lambda/nexus-layer/.gitignore
  lambda/nexus-layer/Pipfile
  lambda/nexus-layer/Pipfile.lock
  lambda/nexus-layer/README.md
  lambda/nexus-layer/handler.py
  lambda/nexus-layer/package-lock.json
  lambda/nexus-layer/package.json
  lambda/nexus-layer/serverless.yml
  lambda/serverless/.gitignore
  lambda/serverless/Pipfile
  lambda/serverless/Pipfile.lock
  lambda/serverless/package-lock.json
  lambda/serverless/package.json
Due: python-formatter

Refactor to remove jupyterlab dependence
  images/segmentation.ipynb
  images/table.ipynb
  jupyterlab/.gitignore
  jupyterlab/Pipfile
  jupyterlab/Pipfile.lock
  jupyterlab/scripts/start.sh
  llms/openai/10-openai.ipynb
  pytorch/00-dataset-log.ipynb
  pytorch/05-dataset-download.ipynb
  pytorch/10-classification.ipynb
  pytorch/99-debug-gpu.ipynb
  pytorch/SETUP.md
  scripts/cleanup.sh
Due: jupyter-nb-clear-output

Fix #6 Update lambda examples after nexus release
  lambda/layer-pre-nexus/.gitignore
  lambda/layer-pre-nexus/Pipfile
  lambda/layer-pre-nexus/Pipfile.lock
  lambda/layer-pre-nexus/README.md
  lambda/layer-pre-nexus/handler.py
  lambda/layer-pre-nexus/package-lock.json
  lambda/layer-pre-nexus/package.json
  lambda/layer-pre-nexus/serverless.yml
  lambda/layer/Pipfile
  lambda/layer/Pipfile.lock
  lambda/layer/README.md
  lambda/layer/handler.py
  lambda/layer/serverless.yml
Due: python-formatter

[lambda] HOTFIX: Update dependencies
  lambda/layer/Pipfile
  lambda/layer/Pipfile.lock
  lambda/layer/README.md
Due: none

[lambda] HOTFIX Readme
  lambda/README.md
Due: none

[lambda] HOTFIX: Specify wandb minimum version
  lambda/layer/Pipfile
  lambda/layer/Pipfile.lock
Due: none

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  python-formatter: any of: \.py$
